[submodule "vendor/blip-buf"]
	path = vendor/blip-buf
	url = git@github.com:nesbox/blip-buf.git
	shallow = true
[submodule "vendor/dirent"]
	path = vendor/dirent
	url = git@github.com:tronkko/dirent.git
	shallow = true
[submodule "vendor/duktape"]
	path = vendor/duktape
	url = git@github.com:svaarala/duktape-releases.git
	shallow = true
[submodule "vendor/giflib"]
	path = vendor/giflib
	url = git@github.com:nesbox/giflib.git
	shallow = true
[submodule "vendor/lpeg"]
	path = vendor/lpeg
	url = git@github.com:nesbox/lpeg.git
	shallow = true
[submodule "vendor/lua"]
	path = vendor/lua
	url = git@github.com:lua/lua.git
	shallow = true
[submodule "vendor/sdl-gpu"]
	path = vendor/sdl-gpu
	url = git@github.com:grimfang4/sdl-gpu.git
	shallow = true
[submodule "vendor/sokol"]
	path = vendor/sokol
	url = git@github.com:floooh/sokol.git
	shallow = true
[submodule "vendor/squirrel"]
	path = vendor/squirrel
	url = git@github.com:albertodemichelis/squirrel.git
	shallow = true
[submodule "vendor/wren"]
	path = vendor/wren
	url = git@github.com:wren-lang/wren.git
	shallow = true
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:madler/zlib.git
	shallow = true
[submodule "vendor/zip"]
	path = vendor/zip
	url = git@github.com:kuba--/zip.git
	shallow = true
[submodule "vendor/moonscript"]
	path = vendor/moonscript
	url = git@github.com:nesbox/moonscript.git
	shallow = true
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = git@github.com:cofyc/argparse.git
	shallow = true
[submodule "vendor/circle-stdlib"]
	path = vendor/circle-stdlib
	url = git@github.com:smuehlst/circle-stdlib.git
	shallow = true
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
	shallow = true
[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = git@github.com:nodejs/http-parser.git
	shallow = true
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = git@github.com:glennrp/libpng.git
	shallow = true
[submodule "vendor/sdl2"]
	path = vendor/sdl2
	url = git@github.com:libsdl-org/SDL.git
[submodule "mruby"]
	path = vendor/mruby
	url = git@github.com:mruby/mruby.git
[submodule "vendor/wasm3"]
	path = vendor/wasm3
	url = git@github.com:wasm3/wasm3.git
